.wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 75px;
}

.wrapper .loading {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}