.wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 75px;
}

.wrapper .loading {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.searchForm {
    position: relative;
    width: 350px;
    float: right;
    margin: -54px 40px 0 0;
}

.searchForm .inputText {
    width: 100% !important;
    border: 0 !important;
    background-color: #333 !important;
    padding: 0px 15px !important;
    border-radius: 10px !important;
    color: #fff !important;
}

.searchForm .buttonSearchSubmit {
    position: absolute;
    top: 8px;
    right: -25px;
    border: 0;
    width: 40px;
    background: transparent !important;
}

.searchForm .buttonSearchSubmit img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
}

.content .content_left {
    width: 350px;
    padding: 20px;
    background-color: #000;
}

.content .content_left h4 {
    color: #fff;
    margin: -10px 0 15px;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .searchForm .inputText {
        width: 50% !important;
        float: right;
    }
}

