@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 75px;
}

.wrapper .loading {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.searchForm {
    position: relative;
    width: 350px;
    float: right;
    margin: -54px 40px 0 0;
}

.searchForm .inputText {
    width: 100% !important;
    border: 0 !important;
    background-color: #333 !important;
    padding: 0px 15px !important;
    border-radius: 10px !important;
    color: #fff !important;
}

.searchForm .buttonSearchSubmit {
    position: absolute;
    top: 8px;
    right: -25px;
    border: 0;
    width: 40px;
    background: transparent !important;
}

.searchForm .buttonSearchSubmit img {
    width: 100%;
}

.content .content_title {
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 10px 0;
    border-bottom: 1px solid;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content .content_left {
    width: 300px;
    padding: 20px;
    background-color: #333;
}

.content .content_left h2 {
    color: #fff;
}

.content .content_left .collection {
    max-height: 1250px;
    overflow-y: auto;
}

.content .content_right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content .content_right .summary {
    padding: 20px;
}

.content .content_right .chart_vader {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}

.content .content_right .chart_watson {
    padding: 20px;
}

.content .content_bottom {
    background-color: #000;
    padding: 20px;
    width: 100%;
}

.content .content_bottom .data_container h2 {
    color: #fff;
}

.data_container .table_wrapper {
    overflow: auto;
    /* width: 950px; */
    margin: 0 auto;
    background-color: #fff;
    max-height: 400px;
}

.data_container .table_wrapper .tweet_table {
    width: 3600px;
}

.collection.with-header .collection-item.avatar {
    padding-left: 10px;
}

.fab {
    color: #0077c0;
}

.collection.with-header .collection-item.avatar h5 {
    font-size: 20px;
}

.collection.with-header .collection-item.avatar h5 i {
    margin-right: 5px;
}

.collection.with-header .collection-item.avatar p {
    margin-top: 15px;
    line-height: 22px;
}

@media screen and (max-width: 1024px) {
    .chart {
        width: 600px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .content .content_left {
        width: 200px;
    }
    .chart {
        width: 500px;
        margin: 0 auto;
    }

    .content .content_left .collection {
        max-height: 1000px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 540px) {
    .searchForm .inputText {
        width: 250px !important;
        float: right;
    }

    .chart {
        width: 450px;
    }

    .content .content_left {
        width: 100%;
    }

    .content .content_left .collection {
        max-height: 400px;
        overflow-y: auto;
    }

    .searchForm {
        width: 300px;
        margin: -50px 10px 0 0;
        top: 1px;
    }

    .searchForm .buttonSearchSubmit {
        position: absolute;
        top: 8px;
        right: 0;
    }
}


@media screen and (max-width: 425px) {
    .searchForm .inputText {
        width: 250px !important;
        float: right;
    }

    .chart {
        width: 380px;
    }

    .content .content_left {
        width: 100%;
    }

    .content .content_left .collection {
        max-height: 500px;
        overflow-y: auto;
    }

    .searchForm {
        width: 300px;
        margin: -50px 10px 0 0;
        top: 1px;
    }

    .searchForm .buttonSearchSubmit {
        position: absolute;
        top: 8px;
        right: 0;
    }
}

@media screen and (max-width: 375px) {
    
    .searchForm .inputText {
        width: 200px !important;
        float: right;
    }

    .chart {
        width: 325px;
    }

    .content .content_left .collection {
        max-height: 400px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 320px) {
    .searchForm .inputText {
        width: 175px !important;
        float: right;
    }

    .chart {
        width: 275px;
    }

    .content .content_left .collection {
        max-height: 350px;
        overflow-y: auto;
    }
}

