@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.vaderchart h1 {
    align-items: center;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.vaderchart .bubble {
    width: 1000px;
}

.vaderChart {
    max-width: 1000px;
}