@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.menu {
    position: relative;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
}

.menu .buttonClose {
    border: 0;
    background: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
}