@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container img {
    width: 75%;
}

.container p {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}

.nav-wrapper {
    background-color: #000;
}

.nav-wrapper ul li a {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-align: center;
}