@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* .jumbotron {
    background-color: #ccc;
    margin-bottom: 0;
} */

.container img {
    width: 60%;
}

.container p {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.nav-wrapper {
    background-color: #000;
    overflow: hidden;
    /* margin-top: 0; */
}

.nav-wrapper ul {
    text-align: center;
    margin-left: 15px;
}

.nav-wrapper ul li a {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    text-align: center;
    padding: 2px 15px;
}

.hamburger-box {
    display: none;
    width: 40px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 18px;
    z-index: 9;
    margin-top: 10px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;
}

.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
}

.hamburger-inner:after {
    bottom: -10px;
}

.hamburger-inner:before {
    top: -10px;
}

@media screen and (max-width: 989px) {
    .hamburger-box {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .hamburger-box {
        display: block;
    }
}

